* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.custom-editor-toolbar {
  @apply p-[6px] flex items-center justify-center cursor-pointer;
}

.custom-editor-toolbar img {
  @apply w-[24px] h-[24px] pointer-events-none;
}

.ql-editor {
  @apply !p-0 !m-0 !border-none !outline-none;
}

.ql-container,
.ql-editor,
.ql-toolbar,
.ql-bubble {
  font-size: inherit !important;
  width: inherit !important;
  height: inherit !important;
  overflow: hidden !important;
}

/* Targeting the input fields when autofilled */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(35, 34, 34, 0.788) inset; /* Replace #f0f0f0 with your desired background color */
  -webkit-text-fill-color: white; /* Replace #333 with your desired text color */
  transition: background-color 5000s ease-in-out 0s; /* Prevents background color flicker */
}

.a4-paper {
  @apply w-[8.27in] h-max bg-white shadow-md  rounded-sm;
}
